<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pastebin</title>
</head>
<body>
<div>
  <center>
    <fieldset style="width:500px">
      <h1 align="center">Create new Paste</h1>
        <div>
          <a th:href="@{/paste/list}"><button style="float: left">Back to Paste List</button></a>
          <form th:action="@{/logout}" method="post">
            <button type="submit" style="float:right">Sign Out</button>
          </form>
            </div>
        </fieldset>
    </center>
    <br />
    <h4 align="center">Paste elements</h4>
    <div class="col">
      <center>
        <fieldset style="width:500px">
          <form action="#" th:action="@{/save/paste}" th:object="${pastebin}" method="POST">
            <div class="example">Please fill in the below area, the title of your paste!</div>
            <input type="text" th:field="*{title}" placeholder="Paste title" class="form-control mb-4 col-4">
              <br> <br>
            <div class="example">Please fill in the below area, the content of your paste!</div>
              <textarea th:field="*{text}" placeholder="Paste text" class="form-control mb-4 col-4"></textarea>
              <br> <br>
            <div class="example">Please fill in the below area, the author of the paste!</div>
              <input type="text" th:field="*{author}" placeholder="Paste author" class="form-control mb-4 col-4">
              <br> <br>
            <div class="col">
              <button type="submit" class="btn btn-info col-2" >Save paste</button>
            </div>
          </form>
        </fieldset>
      </center>
    </div>
</div>
</body>
</html>